# Python virtual environment
venv/

# Ignore ONLY top-level data and models directories
/data/
/models/

# Allow DVC metadata inside top-level folders
!/data/**/*.dvc
!/models/**/*.dvc

# Local DVC storage
/dvc_storage/

# Ignore DVC cache
.dvc/cache/
