# Python virtual environment
.venv/
venv/
env/
ENV/

# Ignore ONLY top-level data and models directories
/data/processed/*
/models/

# Allow DVC metadata inside top-level folders
!/data/raw/
!/models/**/*.dvc

# Local DVC storage
/dvc_storage/

# Ignore DVC cache
.dvc/cache/
/mlruns

# Ignore .idea folder (PyCharm IDE)
.idea/